@import '../../styles/modules-entry.scss';

// Override Fullcalendar CSS

:root {
  --fc-today-bg-color: $gray-100;
}

.fc {
  flex-grow: 1;
  height: 90vh;
  min-height: 700px;
}

.fc-header-toolbar {
  display: none !important;
}

.fc-event-title {
  word-wrap: break-word;
}

.fc-event-main-frame {
  padding: 0.25rem;
}

.fc-v-event {
  border: none;
  border-radius: $border-radius;
}

.fc-event-title {
  font-size: 0.75rem;
}

.fc-col-header-cell-cushion {
  text-decoration: none;
}