.fc {
  flex-grow: 1;
  height: 95vh;
  color: var(--dark-green);
}

/* Change this value manually if further expand the time */

.fc .fc-timegrid-col.fc-day-today {
  background-color: white;
}
/*debug some printing style*/

/* .fc .fc-scrollgrid {
  border-width: 1px;
} */

.fc-header-toolbar {
  display: none !important;
}

.fc-event-title {
  word-wrap: break-word;
}

.fc-event-main-frame {
  padding: 5px;
}

.fc-v-event {
  border-color: white;
  border-radius: 6px;
}

.fc-event-title {
  font-weight: 600;
}

.fc-col-header-cell-cushion {
  color: var(--dark-green);
  text-decoration: none;
}

.fc .fc-timegrid-col.fc-day-today { /*remove today colour*/
  background-color: white;
}