.fc {
  flex-grow: 1;
  height: 95vh;
  min-height: 700px;
  color: var(--dark-green);
  width: 100%;
}

.fc-header-toolbar {
  display: none !important;
}

.fc-event-title {
  word-wrap: break-word;
}

.fc-event-main-frame {
  padding: 5px;
}

.fc-v-event {
  border-color: white;
  border-radius: 6px;
}

.fc-event-title {
  font-weight: 600;
}

.fc-col-header-cell-cushion {
  color: var(--dark-green);
  text-decoration: none;
}

.fc .fc-timegrid-col.fc-day-today { /*remove today colour*/
  background-color: white;
}

/* @media (max-width: 991px) {
  .fc {
    min-height: 620px;
    font-size: 0.9em;
  }
} */
