/* SelectedCourse.js */
.selected-courses{
  margin-top: 16px;
  overflow-y: scroll;
  overflow: overlay;
}
.selected-courses::-webkit-scrollbar {
  width: 10px;
  display: none;
}
.selected-courses::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 3px;
}
.selected-courses:hover::-webkit-scrollbar{
  display: block;
}

.selected-course{
  padding-bottom: 12px;
  padding-top: 10px;
  margin-top: 2px;
  border-bottom: 1px solid var(--bright-gray);
}

.selected-info {
  text-align: left;
}

.selected-instructor {
  font-size: small;
}

.toggle-btns {
  width: fit-content;
  margin-right: 10px;
}

.color-btn {
  border-color: white;
  cursor: pointer;
}

.color-picker {
  top: 14px;
  left: -6px;
}

/* END SeclectedCourse */

/* Searcher.js */
.course-id, .instructor-name{
  width: 20%;
  color: gray;
}

.course-title{
  width: 60%;
}


/*hanlde overflow*/
.instructor-name, .course-title{ 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selecting > .list-group-item{
  max-height: 100px;
  z-index: 100;
}

.selecting > .list-group-item.focus {
  background-color: #ccc;
}

.selecting > .list-group-item:hover {
  background-color: #ccc;
}
/* END Searcher */

/* index.js */
.modifier {
  width: 30px;
  height: 30px;
}

.modifier:hover {
  cursor: pointer;
}
/* END index */

/* InfoBar.js */
.info-bar {
  padding-left: 30px;
  height: 95vh;
  min-height: 700px;
  min-width: 350px;
  max-width: 500px;
}

@media (max-width: 767px) {
  .info-bar {
    position: fixed;
    background-color: white;
    /* border-color: black;
    border-radius: 5px;
    border-width: 5px; */
    right: 0;
    bottom: 0;
    /* height: calc(100vh - 59px); */
    height: 60vh;
    min-height: 400px;
    /* width: 40%; */
    z-index: 1050;
  }
}

.infobar-pop{
  background-color: black;
  opacity: 30%;
  position: fixed;
  height: calc(100vh - 60px);
  inset: auto 0 0 0;
  z-index: 1049;  
}

.info-bar-btn {
  color: var(--dark-green);
  /* border-color: var(--dark-green);
  background-color: white;
  border-width: 3px;
  border-radius: 10px; */
  position: fixed;
  bottom: 15px;
  right: 30px;
  z-index: 2;
}

.info-bar-btn:hover {
  color: var(--orange);
  font-size: 1.1em;
  /* border-color: var(--dark-green);
  background-color: var(--dark-green); */
}

.info-bar-btn i {
  font-size: 1.5em;
}
/* END InfoBar */