/* SelectedCourse.js */
.selected-courses{
  margin-top: 16px;
  max-height: calc(100vh - 230px);
  overflow-y: scroll;
  overflow: overlay;
}
.selected-courses::-webkit-scrollbar {
  width: 10px;
  display: none;
}
.selected-courses::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 3px;
}
.selected-courses:hover::-webkit-scrollbar{
  display: block;
}

.selected-course{
  padding-bottom: 12px;
  padding-top: 10px;
  margin-top: 2px;
  border-bottom: 1px solid var(--bright-gray);
}

.selected-info {
  text-align: left;
}

.selected-instructor {
  font-size: small;
}

.toggle-btns {
  width: fit-content;
  margin-right: 10px;
}

.toggle-btns > div > i {
  color: var(--dark-green);
}

.color-btn {
  border-color: white;
  cursor: pointer;
}

.color-picker {
  top: 14px;
  left: -6px;
}

.credit-count{
  font-size: 1.2em;
  font-weight: 600;
  color: var(--dark-green);
  position: absolute;
  margin: 20px auto 20px 6.5%;
  bottom: 0;
}

.credit-count > span {
  font-size: 1.1em;
}
/* END SeclectedCourse */

/* Searcher.js */
.course-id, .instructor-name{
  width: 20%;
  font-size: 0.8em;
  color: gray;
}

.course-title{
  width: 60%;
}

.instructor-name, .course-title{  /*hanlde overflow*/
  display: -webkit-box; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selecting > .list-group-item{
  max-height: 100px;
  z-index: 100;
}

.selecting > .list-group-item.focus {
  background-color: #ccc;
}

.selecting > .list-group-item:hover {
  background-color: #ccc;
}
/* END Searcher */

/* index.js */
.info-bar {
  margin-left: 30px;
  width: 35%;
  min-width: 250px;
  max-width: 350px;
}

.heading-2 {
  font-weight: 600;
}

.modifier {
  width: 30px;
  height: 30px;
}

.modifier:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}
/* END index */