.selected-course{
  padding-bottom: 12px;
  padding-top: 10px;
  margin-top: 2px;
  border-bottom: 1px solid var(--bright-gray);
}

.selected-info {
  text-align: left;
}

.selected-instructor {
  font-size: small;
}

.toggle-btns {
  width: fit-content;
}

.toggle-btns > div > i {
  color: var(--dark-green);
}

.instructor-name {
  width: 20%;
  font-size: 13px;
  color: gray;
}

.right-bar {
  margin-left: 30px;
  flex-grow: 1;
  width: 40%;
}

.heading-2 {
  font-weight: 600;
  margin-top: 2px;
  font-size: 14px;
}

.selecting > .list-group-item.focus {
  background-color: #ccc;
}

.selecting > .list-group-item:hover {
  background-color: #ccc;
}

.color-btn {
  border-color: white;
  cursor: pointer;
}

.color-picker {
  top: 14px;
  left: -6px;
}

.modifier {
  width: 30px;
  height: 30px;
}

.modifier:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}