@import './modules-entry.scss';

// BOOTSTRAP
// @import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './bootstrap/bootstrap.scss';

// FONTAWESOME ICONS
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';