.course-card {
  background-color: var(--light-gray);
  height: 150px;
  width: 500px;
  border-radius: 16px;
  text-decoration: none;
  color: inherit
}

.course-card:hover {
  /* color: var(--orange) !important; */
  box-shadow: 8px 8px 4px 0px #00000040 !important;
  color: inherit
}

.thumbnail {
  width: 150px;
  background-color: var(--dark-green);
}

.thumbnail-text {
  color: var(--yellow);
  font-size: 48px;;
}