.burger:hover {
  background-color: var(--bright-green);
}

.help {
  width: 300px;
  height: 100%;
  border-left: var(--dark-green) solid 1px;
}

.avatar {
  border-radius: 12px;
}

.donate-cta {
  background-color: var(--dark-green);
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  color: var(--orange);
}

.donate-cta:hover {
  background-color: #2A9D8F;
}

.help-heading {
  font-weight: 600;
  color: var(--orange);
  margin-bottom: 5px;
}

.modal-footer > button {
  background-color: var(--dark-green);
}