@import '../styles/modules-entry.scss';

.main {
  min-height: 100vh;
  
  @include media-breakpoint-up(md) {
    margin: 1rem 0 1rem 5.6rem;
    width: calc(100% - 5.6rem);
  }

  @include media-breakpoint-down(md) {
    margin: 4rem 0 1rem 0;
  }
}