.wrapper {
  background-color: var(--light-gray);
}

.navbar-btn {
  color: var(--dark-green);
}

.navbar-btn:hover, .current {
  color: var(--orange);
  font-weight: 900;
  /* background-color: var(--dark-gray); */
}

/* Mobile view */
@media (max-width: 767px) {
  .wrapper{
    width: 100vw;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.125);
  }
  .nav-icon {
    font-size: 24px;
  }
  
  .h-logo {
    height: 64px;
  }

}