@import '../styles/modules-entry.scss';

.wrapper {
  background-color: $light-gray;
  width: 95px;
}

.navbar-btn {
  color: $primary;
}

.navbar-btn:hover, .current {
  color: $orange;
  font-weight: 900;
  /* background-color: $dark-gray; */
}

/* Mobile view */
@media (max-width: 767px) {
  .wrapper{
    width: 100vw;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.125);
  }
  .nav-icon {
    font-size: 24px;
  }
  
  .h-logo {
    height: 64px;
  }
}