.wrapper {
  background-color: var(--light-gray);
}

@media (max-width: 991px) { 
  .wrapper{
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .wrapper{
    width: 80px;
  }

  .navbar-btn{
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.navbar-btn {
  color: var(--dark-green);
}

.navbar-btn:hover, .current {
  color: var(--orange);
  font-weight: 900;
}