/* Define custom colors.
  TODO: use Sass
*/
:root {
  --dark-green: #264653;
  --bright-green: #2A9D8F;
  --yellow: #E9C46A;
  --orange: #E76F51;
  --light-orange: #F4A261;
  --bright-gray: #dee2e6;
  --light-gray: #F2F2F2;
  --dark-gray: #e9e9e9;
}

.App {
  font-size: 16px;
  text-align: center;
  color: #444444;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* Custom text styles */

.o-heading {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: var(--dark-green);
}

.o-title {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: var(--dark-green);
}

.o-large {
  font-size: 20px; 
  font-weight: 600;
}

.o-larger {
  font-size: 1.1em;
}

.o-smaller {
  font-size: 0.8em;
}

.o-dark-primary {
  color: var(--dark-green);
}

.o-bright-primary {
  color: var(--orange);
}

.o-formal-font {
  font-family: 'Oswald', sans-serif;
}

.o-big-body {
  font-size: 18px;
}

.o-bg-yellow {
  background-color: var(--yellow) !important;
  color: black !important;
}

/* Component stypes */
.gray-hover:hover {
  background-color: var(--light-gray);
}


/* Override Bootstrap styles */
a:hover {
  color: var(--orange)
}

a {
  color: var(--dark-green)
}