:root {
  --dark-green: #264653;
  --bright-green: #2A9D8F;
  --yellow: #E9C46A;
  --orange: #E76F51;
  --light-orange: #F4A261;
  --bright-gray: #dee2e6;
  --light-gray: #F2F2F2;
}

.App {
  font-size: 16px;
  text-align: center;
  color: #444444;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

a:hover {
  color: var(--orange)
}

a {
  color: var(--dark-green)
}