/* index.js */
.form-check-input {
  height: 28px;
  width: 48px !important;
}

.form-check-input:checked {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}
/* END index.js */

/* GalleryView.js */
.course-card {
  background-color: var(--light-gray);
  height: 200px;
  width: 220px;
  border-radius: 16px;
  text-decoration: none;
  color: inherit
}

.course-card:hover {
  box-shadow: 8px 8px 4px 0px #00000040 !important;
  min-height: 200px;
  height: fit-content;
}

.thumbnail {
  width: 75px;
  background-color: var(--dark-green);
}

.thumbnail-text {
  color: var(--yellow);
  font-size: 20px;
}
/* END GalleryView */

/* Laptop display */
@media screen and (min-width: 992px) {
  .right-bar {
    min-width: 200px;
    max-width: 250px;
    position: sticky;
    top: 24px;
    z-index: 1020;
  }
  
  .filter-card {
    width: 100%;
  }
}

/* Tablet display */
@media screen and (max-width: 991.5px) {
  .right-bar-course-count {
    font-size: 1.4em;
  }
  .gallery-view {
    width: 300px;
  }
  .filter-card {
    width: 300px;
    height: fit-content;
  }
}