@import '../../styles/modules-entry.scss';

.cta {
  background-color: $primary;
  border-radius: 8px;
  color: white;
  width: fit-content;
  padding: 10px 20px;
  margin: auto;
  text-align: center;
}

.cta:hover {
  background-color: $orange !important;
  cursor: pointer;
}